body {
  background: linear-gradient(
    59deg,
    rgba(55, 53, 93, 1) 0%,
    rgba(100, 50, 201, 1) 59%,
    rgba(130, 107, 164, 1) 90%
  );
  background-attachment: fixed;
}

.root {
  margin: 20px;
}
